<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Ситхов</title>
</head>
<body>
    <div align="center">
    <h1>Таблица зачислений</h1>
        <table border="2">
            <tr>
                <th>Ситх</th>
                <th>Количество рук тени </th>
            </tr>
            {% for sith in siths %}
            <tr>
                <td>
                Ситх {{ sith.name }}
                </td>
                <td>
                    {{ sith.recruters_number }}
                </td>
            </tr>
            {% endfor %}
        <p></p>
        </table>
    <p><a href="{% url 'index' %}">На главную</a></p>
</body>
</html>